@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body{
    padding: 2%;
    /*background: url("ocr.jpeg") no-repeat center center fixed;
    background-size: cover;*/
    font-family: "San Francisco";

}

input[type="text"], input[type="password"] {
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 20px;
  width: 300px;
}

#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 5px #000;
}


.square-text {
  position: absolute;
  bottom: 1.5vh;
  left: 40%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.square-coast {
  position: absolute;
  bottom: 0vh;
  left: 75%;
  transform: translate(-50%, 50%);
  text-align: center;
}


.button-style {
    border-radius: 4vh;
    padding: 2vh 3vh;
    background-color: lightgrey;
    text-align: center;
    color:black;
    border: none;
    font-size: 5vh;
    cursor: pointer;
    box-shadow: 0px 0px 4vh rgba(0, 0, 0, 0.5);
    margin: 1vh;
    transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.button-confirm {
    border-radius: 3vh;
    padding: 2vh 3vh;
    background-color: lightblue;
    color:black;
    border: none;
    font-size: 4vh;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 1vh;
}


}
.show{
    opacity: 1;
    transform: translateY(0);
}
.hide{
    opacity: 0;
    transform: translateY(50);
}

.container {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;


      }

      .square {
        width: 12vh;
        height: 12vh;
        border-radius: 2vh;
        background-color: lightwhite;
        box-shadow: 0px 0px 8vh rgba(0, 0, 0, 0.2);
        margin: 0.8vh;
        position: relative;
      }

.square {
        width: 20vh;
        height: 20vh;
        border-radius: 2vh;
        background-color: lightwhite;
        box-shadow: 0px 0px 8vh rgba(0, 0, 0, 0.2);
        margin: 1.5vh;
      }