<!DOCTYPE html>
<html>
<head>
    <title>Cart Page</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">


</head>
<body>
<div class="row_names" style="flex-direction: column; align-content: flex-end;">
<h1 style="font-size: 150%" id="text_button_category">Categories</h1>
<h1 style="font-size: 150%" id="text_button_products">Products</h1>
    <h1 style="font-size: 150%" id="text_button_prof">Profile</h1>
</div>
<h1 id="userinfo" style="display: none;">Your cart:</h1>
<h1 id="cartempty">Your cart is empty</h1>

</body>
<script src="static/cart.js"></script>
</html>