<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Market</title>
</head>
<body>


<div class="row_names">
    <h1 style="font-size: 150%" id="text_button_category">Categories</h1>
    <h1 style="font-size: 150%;">Products</h1>
    <h1 style="font-size: 150%" id="text_button_prof">Profile</h1>
</div>
<div class="row">
    {% for item in range(len) %}
    <div class="square_product" id="{{item}}">
        <img class="rect-img" id="img{{item}}" src="static/photos/{{item}}.jpg">
        <div class="text-block" id="text{{item}}" style="display: none; font-size: 80%;">{{products[item][2]}}</div>
        <h2 class="square-text" style="font-size: 95%;">{{products[item][0]}}</h2>
        <h3 class="square-coast" style="font-size: 80%;">{{products[item][1]}}$</h3>

    </div>
    {% endfor %}
</div>

<div style="display: flex; justify-content: space-between; margin: 2vh;">
<button id="text_button_cart" style="font-size: 150%">Cart</button>
<button id="theme-switch-button" style="font-size: 100%">Switch Theme</button>
</div>
</body>
<script src="static/market.js"></script>

</html>